html {
    height: 100%;
}
body {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    background: linear-gradient(#e66465, #9198e5)
}

header {
    text-align: center;
    background-color: cornflowerblue;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.headline {
    display: inline;
    font-size: 3em;
}

.nav-ul {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: cadetblue;
}

.nav-li {
    display: inline-block;
    width: 24.6%;
}

.nav-li:hover {
    background-color: cyan;
    font-weight: bold;
}

section {
    background-color: cornsilk;
    text-align: center;
    height: 83.5%;
}

footer {
    background-color: cornflowerblue;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

footer {
    text-align: center;
}

