body {
    width: 50%;
    margin: 0 auto;
}

header {
    text-align: center;
    background-color: cornflowerblue;
    border: 1px solid black;
}

.headline {
    display: inline;
    font-size: 3em;
}

.nav-ul {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: cadetblue;
}

.nav-li {
    display: inline-block;
    width: 24.6%;
}

.nav-li:hover {
    background-color: cyan;
    font-weight: bold;
}

section {
    background-color: cornsilk;
    text-align: center;
    height: 500px;
}

footer {
    background-color: cornflowerblue;
}

footer {
    text-align: center;
}

